In [5]:
import os;
os.listdir('E:/OneDrive/Online_Courses/Python\PythonMegaCourse\Jupyter\DataAnalysisPandas')

['.ipynb_checkpoints',
 'DataAnalysis.ipynb',
 'geoCoding.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [6]:
import pandas

In [7]:
df=pandas.read_csv('supermarkets.csv');

In [8]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [32]:
from geopy.geocoders import Nominatim #for getting Lat and Long for the address provided

In [33]:
nom=Nominatim();

In [16]:
WholeAddress=df['Address']+", "+df['City']+", "+df['State']+", "+df['Country']

In [19]:
df=df.drop('WholeAddress',1)

In [23]:
df['Longitude']=6*[0]

In [24]:
df

,ID,Address,City,State,Country,Name,Employees,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,0,0
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,0,0
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,0,0
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,0,0
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,0,0
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,0,0

In [25]:
WholeAddress

0           3666 21st St, San Francisco, CA 94114, USA
1         735 Dolores St, San Francisco, CA 94119, USA
2    332 Hill St, San Francisco, California 94114, USA
3           3995 23rd St, San Francisco, CA 94114, USA
4      1056 Sanchez St, San Francisco, California, USA
5        551 Alvarado St, San Francisco, CA 94114, USA
dtype: object

In [26]:
WholeAddress[0]

'3666 21st St, San Francisco, CA 94114, USA'

In [35]:
from geopy.geocoders import Nominatim #for getting Lat and Long for the address provided

In [36]:
num=Nominatim();

In [56]:
aa=[num.geocode(WholeAddress[i]) for i in range(6) ]

In [57]:
print aa

[Location((37.7564888776, -122.429343347, 0.0)), None, Location((37.7557251224, -122.428601306, 0.0)), Location((37.7529648, -122.431714, 0.0)), Location((37.7521458, -122.42981516, 0.0)), Location((37.7536733265, -122.433219959, 0.0))]

In [62]:
aa[0].latitude

37.756488877551

In [64]:
latitude=[aa[i].latitude for i in range(6) if i!=1]

In [65]:
print latitude

[37.756488877551, 37.755725122449, 37.7529648, 37.7521458, 37.7536733265306]

In [66]:
longitude=[aa[i].longitude for i in range(6) if i!=1]

In [67]:
print longitude

[-122.429343346939, -122.428601306122, -122.431714, -122.42981516, -122.433219959184]

In [74]:
longitude.insert(1,0)

In [72]:
print latitude

[37.756488877551, 0, 37.755725122449, 37.7529648, 37.7521458, 37.7536733265306]

In [73]:
df['Latitude']=latitude

In [75]:
df['Longitude']=longitude

In [76]:
df

,ID,Address,City,State,Country,Name,Employees,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,37.756489,-122.429343
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,0.000000,0.000000
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,37.755725,-122.428601
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,37.752146,-122.429815
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,37.753673,-122.433220